

nav {
  font-family: "Space Mono", monospace;
}

#getStarted {
  scroll-margin-top: 1.7rem;
}

#about {
  scroll-margin-top: 4rem;
}

main{
 font-family: 'Poppins', sans-serif;
 font-weight: 500;
}
